# Data Import

In [4]:
import pandas as pd 
import numpy as np

df = pd.read_csv('combined_data.csv')

In [6]:
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)

In [7]:
df.head()

   Unnamed: 0  Species                     Owner Country.of.Origin                                 Farm.Name Lot.Number       Mill ICO.Number                                Company       Altitude        Region                               Producer  Number.of.Bags Bag.Weight                  In.Country.Partner Harvest.Year      Grading.Date                   Owner.1  Variety Processing.Method  Aroma  Flavor  Aftertaste  Acidity  Body  Balance  Uniformity  Clean.Cup  Sweetness  Cupper.Points  Total.Cup.Points  Moisture  Category.One.Defects  Quakers  Color  Category.Two.Defects        Expiration                  Certification.Body                     Certification.Address                     Certification.Contact unit_of_measurement  altitude_low_meters  altitude_high_meters  altitude_mean_meters
0         1.0  Arabica                 metad plc          Ethiopia                                 metad plc        NaN  metad plc  2014/2015      metad agricultural developmet plc      1950-2200  guji-hambela                              METAD PLC           300.0      60 kg  METAD Agricultural Development plc         2014   April 4th, 2015                 metad plc      NaN      Washed / Wet   8.67    8.83        8.67     8.75  8.50     8.42        10.0       10.0       10.0           8.75             90.58      0.12                     0      0.0  Green                     0   April 3rd, 2016  METAD Agricultural Development plc  309fcf77415a3661ae83e027f7e5f05dad786e44  19fef5a731de2db57d16da10287413f5f99bc2dd                   m               1950.0                2200.0                2075.0
1         2.0  Arabica                 metad plc          Ethiopia                                 metad plc        NaN  metad plc  2014/2015      metad agricultural developmet plc      1950-2200  guji-hambela                              METAD PLC           300.0      60 kg  METAD Agricultural Development plc         2014   April 4th, 2015                 metad plc    Other      Washed / Wet   8.75    8.67        8.50     8.58  8.42     8.42        10.0       10.0       10.0           8.58             89.92      0.12                     0      0.0  Green                     1   April 3rd, 2016  METAD Agricultural Development plc  309fcf77415a3661ae83e027f7e5f05dad786e44  19fef5a731de2db57d16da10287413f5f99bc2dd                   m               1950.0                2200.0                2075.0
2         3.0  Arabica  grounds for health admin         Guatemala  san marcos barrancas "san cristobal cuch        NaN        NaN        NaN                                    NaN  1600 - 1800 m           NaN                                    NaN             5.0          1        Specialty Coffee Association          NaN    May 31st, 2010  Grounds for Health Admin  Bourbon               NaN   8.42    8.50        8.42     8.42  8.33     8.42        10.0       10.0       10.0           9.25             89.75      0.00                     0      0.0    NaN                     0    May 31st, 2011        Specialty Coffee Association  36d0d00a3724338ba7937c52a378d085f2172daa  0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660                   m               1600.0                1800.0                1700.0
3         4.0  Arabica       yidnekachew dabessa          Ethiopia     yidnekachew dabessa coffee plantation        NaN    wolensu        NaN  yidnekachew debessa coffee plantation      1800-2200        oromia  Yidnekachew Dabessa Coffee Plantation           320.0      60 kg  METAD Agricultural Development plc         2014  March 26th, 2015       Yidnekachew Dabessa      NaN     Natural / Dry   8.17    8.58        8.42     8.42  8.50     8.25        10.0       10.0       10.0           8.67             89.00      0.11                     0      0.0  Green                     2  March 25th, 2016  METAD Agricultural Development plc  309fcf77415a3661ae83e027f7e5f05dad786e44  19fef5a731de2db57d16da10287413f5f99bc2dd                   m               1800.0                2200.0                2000.0
4         5.0  Arabica                 metad plc          Ethiopia                                 metad plc        NaN  metad plc  2014/2015      metad agricultural developmet plc      1950-2200  guji-hambela                              METAD PLC           300.0      60 kg  METAD Agricultural Development plc         2014   April 4th, 2015                 metad plc    Other      Washed / Wet   8.25    8.50        8.25     8.50  8.42     8.33        10.0       10.0       10.0           8.58             88.83      0.12                     0      0.0  Green                     2   April 3rd, 2016  METAD Agricultural Development plc  309fcf77415a3661ae83e027f7e5f05dad786e44  19fef5a731de2db57d16da10287413f5f99bc2dd                   m               1950.0                2200.0                2075.0

# Data Preprocessing

## Identify Unnecessary Columns

In [11]:
df.head()

   Unnamed: 0  Species                     Owner Country.of.Origin                                 Farm.Name Lot.Number       Mill ICO.Number                                Company       Altitude        Region                               Producer  Number.of.Bags Bag.Weight                  In.Country.Partner Harvest.Year      Grading.Date                   Owner.1  Variety Processing.Method  Aroma  Flavor  Aftertaste  Acidity  Body  Balance  Uniformity  Clean.Cup  Sweetness  Cupper.Points  Total.Cup.Points  Moisture  Category.One.Defects  Quakers  Color  Category.Two.Defects        Expiration                  Certification.Body                     Certification.Address                     Certification.Contact unit_of_measurement  altitude_low_meters  altitude_high_meters  altitude_mean_meters
0         1.0  Arabica                 metad plc          Ethiopia                                 metad plc        NaN  metad plc  2014/2015      metad agricultural developmet plc      1950-2200  guji-hambela                              METAD PLC           300.0      60 kg  METAD Agricultural Development plc         2014   April 4th, 2015                 metad plc      NaN      Washed / Wet   8.67    8.83        8.67     8.75  8.50     8.42        10.0       10.0       10.0           8.75             90.58      0.12                     0      0.0  Green                     0   April 3rd, 2016  METAD Agricultural Development plc  309fcf77415a3661ae83e027f7e5f05dad786e44  19fef5a731de2db57d16da10287413f5f99bc2dd                   m               1950.0                2200.0                2075.0
1         2.0  Arabica                 metad plc          Ethiopia                                 metad plc        NaN  metad plc  2014/2015      metad agricultural developmet plc      1950-2200  guji-hambela                              METAD PLC           300.0      60 kg  METAD Agricultural Development plc         2014   April 4th, 2015                 metad plc    Other      Washed / Wet   8.75    8.67        8.50     8.58  8.42     8.42        10.0       10.0       10.0           8.58             89.92      0.12                     0      0.0  Green                     1   April 3rd, 2016  METAD Agricultural Development plc  309fcf77415a3661ae83e027f7e5f05dad786e44  19fef5a731de2db57d16da10287413f5f99bc2dd                   m               1950.0                2200.0                2075.0
2         3.0  Arabica  grounds for health admin         Guatemala  san marcos barrancas "san cristobal cuch        NaN        NaN        NaN                                    NaN  1600 - 1800 m           NaN                                    NaN             5.0          1        Specialty Coffee Association          NaN    May 31st, 2010  Grounds for Health Admin  Bourbon               NaN   8.42    8.50        8.42     8.42  8.33     8.42        10.0       10.0       10.0           9.25             89.75      0.00                     0      0.0    NaN                     0    May 31st, 2011        Specialty Coffee Association  36d0d00a3724338ba7937c52a378d085f2172daa  0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660                   m               1600.0                1800.0                1700.0
3         4.0  Arabica       yidnekachew dabessa          Ethiopia     yidnekachew dabessa coffee plantation        NaN    wolensu        NaN  yidnekachew debessa coffee plantation      1800-2200        oromia  Yidnekachew Dabessa Coffee Plantation           320.0      60 kg  METAD Agricultural Development plc         2014  March 26th, 2015       Yidnekachew Dabessa      NaN     Natural / Dry   8.17    8.58        8.42     8.42  8.50     8.25        10.0       10.0       10.0           8.67             89.00      0.11                     0      0.0  Green                     2  March 25th, 2016  METAD Agricultural Development plc  309fcf77415a3661ae83e027f7e5f05dad786e44  19fef5a731de2db57d16da10287413f5f99bc2dd                   m               1800.0                2200.0                2000.0
4         5.0  Arabica                 metad plc          Ethiopia                                 metad plc        NaN  metad plc  2014/2015      metad agricultural developmet plc      1950-2200  guji-hambela                              METAD PLC           300.0      60 kg  METAD Agricultural Development plc         2014   April 4th, 2015                 metad plc    Other      Washed / Wet   8.25    8.50        8.25     8.50  8.42     8.33        10.0       10.0       10.0           8.58             88.83      0.12                     0      0.0  Green                     2   April 3rd, 2016  METAD Agricultural Development plc  309fcf77415a3661ae83e027f7e5f05dad786e44  19fef5a731de2db57d16da10287413f5f99bc2dd                   m               1950.0                2200.0                2075.0

In [18]:
def calculate_pre_statistics(data):
    summary = pd.DataFrame({
        'dtype': df.dtypes,
        'non_null_count': df.notnull().sum(),
        'missing_pct': (df.isnull().mean() * 100).round(2),
        'unique_values': df.nunique(dropna=True)
    })
    summary['feature_type'] = summary['dtype'].apply(lambda x: 'numeric' if np.issubdtype(x, np.number) else 'categorical')
    summary.reset_index(inplace=True)
    summary.rename(columns={'index': 'column'}, inplace=True)

    display(summary)

calculate_pre_statistics(df)

                   column    dtype  non_null_count  missing_pct  unique_values feature_type
0              Unnamed: 0  float64            1311        22.75           1311      numeric
1                 Species   object            1311        22.75              1  categorical
2                   Owner   object            1688         0.53            471  categorical
3       Country.of.Origin   object            1694         0.18             39  categorical
4               Farm.Name   object            1338        21.15            854  categorical
5              Lot.Number   object             654        61.46            430  categorical
6                    Mill   object            1382        18.56            656  categorical
7              ICO.Number   object            1221        28.05            894  categorical
8                 Company   object            1482        12.67            436  categorical
9                Altitude   object            1470        13.38            468  categorical
10                 Region   object            1637         3.54            554  categorical
11               Producer   object            1465        13.67            959  categorical
12         Number.of.Bags  float64            1695         0.12            160      numeric
13             Bag.Weight   object            1695         0.12             64  categorical
14     In.Country.Partner   object            1695         0.12             45  categorical
15           Harvest.Year   object            1648         2.89             54  categorical
16           Grading.Date   object            1695         0.12            630  categorical
17                Owner.1   object            1304        23.16            309  categorical
18                Variety   object            1491        12.14             93  categorical
19      Processing.Method   object            1543         9.07             19  categorical
20                  Aroma  float64            1695         0.12             33      numeric
21                 Flavor  float64            1695         0.12             35      numeric
22             Aftertaste  float64            1695         0.12             35      numeric
23                Acidity  float64            1695         0.12             31      numeric
24                   Body  float64            1696         0.06             31      numeric
25                Balance  float64            1696         0.06             32      numeric
26             Uniformity  float64            1695         0.12             10      numeric
27              Clean.Cup  float64            1695         0.12             12      numeric
28              Sweetness  float64            1695         0.12              8      numeric
29          Cupper.Points  float64            1311        22.75             42      numeric
30       Total.Cup.Points  float64            1696         0.06            188      numeric
31               Moisture  float64            1311        22.75             23      numeric
32   Category.One.Defects    int64            1697         0.00             17      numeric
33                Quakers  float64            1695         0.12             12      numeric
34                  Color   object            1363        19.68             33  categorical
35   Category.Two.Defects    int64            1697         0.00             38      numeric
36             Expiration   object            1311        22.75            557  categorical
37     Certification.Body   object            1311        22.75             26  categorical
38  Certification.Address   object            1311        22.75             30  categorical
39  Certification.Contact   object            1311        22.75             27  categorical
40    unit_of_measurement   object            1311        22.75              2  categorical
41    altitude_low_meters  float64            1466        13.61            223      numeric
42   altitude_high_meters  float64            1466        13.61            227      numeric
43   altitude_mean_meters  float64            1466        13.61            246      numeric

I can see that Certification.Body, Certification.Address, Certification.Contact, ICO.Number, Lot.Number, Species, Unnamed: 0  columns can be deleted safely.

In [19]:
df.drop(columns=['Certification.Body', 'Certification.Address','Certification.Contact', 'ICO.Number', 'Lot.Number', 'Species', 'Unnamed: 0' ], inplace=True)

In [20]:
calculate_pre_statistics(df)

                  column    dtype  non_null_count  missing_pct  unique_values feature_type
0                  Owner   object            1688         0.53            471  categorical
1      Country.of.Origin   object            1694         0.18             39  categorical
2              Farm.Name   object            1338        21.15            854  categorical
3                   Mill   object            1382        18.56            656  categorical
4                Company   object            1482        12.67            436  categorical
5               Altitude   object            1470        13.38            468  categorical
6                 Region   object            1637         3.54            554  categorical
7               Producer   object            1465        13.67            959  categorical
8         Number.of.Bags  float64            1695         0.12            160      numeric
9             Bag.Weight   object            1695         0.12             64  categorical
10    In.Country.Partner   object            1695         0.12             45  categorical
11          Harvest.Year   object            1648         2.89             54  categorical
12          Grading.Date   object            1695         0.12            630  categorical
13               Owner.1   object            1304        23.16            309  categorical
14               Variety   object            1491        12.14             93  categorical
15     Processing.Method   object            1543         9.07             19  categorical
16                 Aroma  float64            1695         0.12             33      numeric
17                Flavor  float64            1695         0.12             35      numeric
18            Aftertaste  float64            1695         0.12             35      numeric
19               Acidity  float64            1695         0.12             31      numeric
20                  Body  float64            1696         0.06             31      numeric
21               Balance  float64            1696         0.06             32      numeric
22            Uniformity  float64            1695         0.12             10      numeric
23             Clean.Cup  float64            1695         0.12             12      numeric
24             Sweetness  float64            1695         0.12              8      numeric
25         Cupper.Points  float64            1311        22.75             42      numeric
26      Total.Cup.Points  float64            1696         0.06            188      numeric
27              Moisture  float64            1311        22.75             23      numeric
28  Category.One.Defects    int64            1697         0.00             17      numeric
29               Quakers  float64            1695         0.12             12      numeric
30                 Color   object            1363        19.68             33  categorical
31  Category.Two.Defects    int64            1697         0.00             38      numeric
32            Expiration   object            1311        22.75            557  categorical
33   unit_of_measurement   object            1311        22.75              2  categorical
34   altitude_low_meters  float64            1466        13.61            223      numeric
35  altitude_high_meters  float64            1466        13.61            227      numeric
36  altitude_mean_meters  float64            1466        13.61            246      numeric