In [30]:
import numpy as np
import pandas as pd
import sqlite3

In [32]:
conn = sqlite3.connect('data/coffee_data.db')
query = "SELECT * FROM coffee_samples"

dbf = pd.read_sql_query(query, conn)
conn.close()

print(dbf.head())

   id country_of_origin number_of_bags                 farm_name bag_weight  \
0   1          Thailand              3         Pichet Klaphithak      20 kg
1   2          Thailand              2             Ching Saethao      25 kg
2   3            Brazil              3         Fazenda Guariroba      10 kg
3   4          Thailand              1  Coffee De Hmong Bio Farm      10 kg
4   5          Thailand              2     Wichai Kamnerdmongkon      25 kg

  lot_number                      in_country_partner  \
0        TCE                Coffee Quality Institute
1        TCE                Coffee Quality Institute
2    RR24009                    Coffee Quality Union
3       2024  Specialty Coffee Institute of Thailand
4        TCE                Coffee Quality Institute

                                              mill harvest_year ico_number  \
0  Big Black Box's Dry Mill Plant Sai Noi District  2023 / 2024
1                     Big Black Box Dry Mill Plant  2023 / 2024
2                                Fazenda Guariroba         2023
3                          Coffee De Hmong Roaster  2019 / 2020
4  Big Black Box's Dry Mill Plant Sai Noi District  2023 / 2024

   ... overall  body defects balance total_cup_points moisture         color  \
0  ...    8.50  8.17    0.00    8.33            88.75     10 %  Green-Yellow
1  ...    8.50  8.17    0.00    8.25            88.75    9.3 %          None
2  ...    8.42  8.25    0.00    8.17            88.50   10.8 %  Yellow green
3  ...    8.42  8.08    0.00    8.33            88.33   11.2 %          None
4  ...    8.50  8.08    0.00    8.17            88.25    9.9 %          None

  category_one_defects category_two_defects quakers
0       0 full defects       1 full defects       0
1       0 full defects       1 full defects       0
2       0 full defects       2 full defects       1
3       0 full defects       0 full defects       0
4       0 full defects       1 full defects       0

[5 rows x 36 columns]

In [33]:
df = pd.read_csv('data/arabica_data_cleaned.csv')
print(df.head())

   Unnamed: 0  Species                     Owner Country.of.Origin  \
0           1  Arabica                 metad plc          Ethiopia
1           2  Arabica                 metad plc          Ethiopia
2           3  Arabica  grounds for health admin         Guatemala
3           4  Arabica       yidnekachew dabessa          Ethiopia
4           5  Arabica                 metad plc          Ethiopia

                                  Farm.Name Lot.Number       Mill ICO.Number  \
0                                 metad plc        NaN  metad plc  2014/2015
1                                 metad plc        NaN  metad plc  2014/2015
2  san marcos barrancas "san cristobal cuch        NaN        NaN        NaN
3     yidnekachew dabessa coffee plantation        NaN    wolensu        NaN
4                                 metad plc        NaN  metad plc  2014/2015

                                 Company       Altitude  ...  Color  \
0      metad agricultural developmet plc      1950-2200  ...  Green
1      metad agricultural developmet plc      1950-2200  ...  Green
2                                    NaN  1600 - 1800 m  ...    NaN
3  yidnekachew debessa coffee plantation      1800-2200  ...  Green
4      metad agricultural developmet plc      1950-2200  ...  Green

  Category.Two.Defects        Expiration                  Certification.Body  \
0                    0   April 3rd, 2016  METAD Agricultural Development plc
1                    1   April 3rd, 2016  METAD Agricultural Development plc
2                    0    May 31st, 2011        Specialty Coffee Association
3                    2  March 25th, 2016  METAD Agricultural Development plc
4                    2   April 3rd, 2016  METAD Agricultural Development plc

                      Certification.Address  \
0  309fcf77415a3661ae83e027f7e5f05dad786e44
1  309fcf77415a3661ae83e027f7e5f05dad786e44
2  36d0d00a3724338ba7937c52a378d085f2172daa
3  309fcf77415a3661ae83e027f7e5f05dad786e44
4  309fcf77415a3661ae83e027f7e5f05dad786e44

                      Certification.Contact unit_of_measurement  \
0  19fef5a731de2db57d16da10287413f5f99bc2dd                   m
1  19fef5a731de2db57d16da10287413f5f99bc2dd                   m
2  0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660                   m
3  19fef5a731de2db57d16da10287413f5f99bc2dd                   m
4  19fef5a731de2db57d16da10287413f5f99bc2dd                   m

  altitude_low_meters altitude_high_meters altitude_mean_meters
0              1950.0               2200.0               2075.0
1              1950.0               2200.0               2075.0
2              1600.0               1800.0               1700.0
3              1800.0               2200.0               2000.0
4              1950.0               2200.0               2075.0

[5 rows x 44 columns]

In [34]:
print(df.info())
print(dbf.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1311 entries, 0 to 1310
Data columns (total 44 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             1311 non-null   int64
 1   Species                1311 non-null   object
 2   Owner                  1304 non-null   object
 3   Country.of.Origin      1310 non-null   object
 4   Farm.Name              955 non-null    object
 5   Lot.Number             270 non-null    object
 6   Mill                   1001 non-null   object
 7   ICO.Number             1163 non-null   object
 8   Company                1102 non-null   object
 9   Altitude               1088 non-null   object
 10  Region                 1254 non-null   object
 11  Producer               1081 non-null   object
 12  Number.of.Bags         1311 non-null   int64
 13  Bag.Weight             1311 non-null   object
 14  In.Country.Partner     1311 non-null   object
 15  Harvest.Year           1264 non-null   object
 16  Grading.Date           1311 non-null   object
 17  Owner.1                1304 non-null   object
 18  Variety                1110 non-null   object
 19  Processing.Method      1159 non-null   object
 20  Aroma                  1311 non-null   float64
 21  Flavor                 1311 non-null   float64
 22  Aftertaste             1311 non-null   float64
 23  Acidity                1311 non-null   float64
 24  Body                   1311 non-null   float64
 25  Balance                1311 non-null   float64
 26  Uniformity             1311 non-null   float64
 27  Clean.Cup              1311 non-null   float64
 28  Sweetness              1311 non-null   float64
 29  Cupper.Points          1311 non-null   float64
 30  Total.Cup.Points       1311 non-null   float64
 31  Moisture               1311 non-null   float64
 32  Category.One.Defects   1311 non-null   int64
 33  Quakers                1310 non-null   float64
 34  Color                  1044 non-null   object
 35  Category.Two.Defects   1311 non-null   int64
 36  Expiration             1311 non-null   object
 37  Certification.Body     1311 non-null   object
 38  Certification.Address  1311 non-null   object
 39  Certification.Contact  1311 non-null   object
 40  unit_of_measurement    1311 non-null   object
 41  altitude_low_meters    1084 non-null   float64
 42  altitude_high_meters   1084 non-null   float64
 43  altitude_mean_meters   1084 non-null   float64
dtypes: float64(16), int64(4), object(24)
memory usage: 450.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386 entries, 0 to 385
Data columns (total 36 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    386 non-null    int64
 1   country_of_origin     386 non-null    object
 2   number_of_bags        386 non-null    object
 3   farm_name             386 non-null    object
 4   bag_weight            386 non-null    object
 5   lot_number            386 non-null    object
 6   in_country_partner    386 non-null    object
 7   mill                  386 non-null    object
 8   harvest_year          386 non-null    object
 9   ico_number            386 non-null    object
 10  grading_date          386 non-null    object
 11  company               386 non-null    object
 12  owner                 386 non-null    object
 13  altitude              386 non-null    object
 14  variety               386 non-null    object
 15  region                386 non-null    object
 16  status                386 non-null    object
 17  producer              386 non-null    object
 18  processing_method     386 non-null    object
 19  aroma                 386 non-null    object
 20  uniformity            386 non-null    object
 21  flavor                386 non-null    object
 22  clean_cup             386 non-null    object
 23  aftertaste            386 non-null    object
 24  sweetness             386 non-null    object
 25  acidity               386 non-null    object
 26  overall               386 non-null    object
 27  body                  386 non-null    object
 28  defects               386 non-null    object
 29  balance               386 non-null    object
 30  total_cup_points      386 non-null    object
 31  moisture              386 non-null    object
 32  color                 386 non-null    object
 33  category_one_defects  386 non-null    object
 34  category_two_defects  386 non-null    object
 35  quakers               386 non-null    object
dtypes: int64(1), object(35)
memory usage: 108.7+ KB
None

In [35]:
def split_altitude(altitude):
    if pd.isna(altitude) or altitude == '' or altitude == 'n/a':
        return np.nan, np.nan, np.nan
    altitude = altitude.replace(',', '')
    altitude = altitude.replace('above', '')
    altitude = altitude.replace('Above', '')
    altitude = altitude.replace('>', '')
    altitude = altitude.replace(' a ', '-')    
    altitude = altitude.replace(' A ', '-')    
    altitude = altitude.replace('~', '-')
    if '-' in altitude:
        min_altitude, max_altitude = altitude.split('-')
        return float(min_altitude), float(max_altitude), (float(min_altitude) + float(max_altitude)) / 2
    else:
        return float(altitude), float(altitude), float(altitude)

In [36]:
dbf[['altitude_low_meters', 'altitude_high_meters', 'altitude_mean_meters']] = dbf['altitude'].apply(lambda x: pd.Series(split_altitude(x)))
print(dbf[['altitude_low_meters', 'altitude_high_meters', 'altitude_mean_meters']].head())

   altitude_low_meters  altitude_high_meters  altitude_mean_meters
0               1403.0                1403.0                1403.0
1               1350.0                1350.0                1350.0
2               1100.0                1100.0                1100.0
3               1443.0                1443.0                1443.0
4               1445.0                1445.0                1445.0

In [37]:
print(dbf.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386 entries, 0 to 385
Data columns (total 39 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    386 non-null    int64
 1   country_of_origin     386 non-null    object
 2   number_of_bags        386 non-null    object
 3   farm_name             386 non-null    object
 4   bag_weight            386 non-null    object
 5   lot_number            386 non-null    object
 6   in_country_partner    386 non-null    object
 7   mill                  386 non-null    object
 8   harvest_year          386 non-null    object
 9   ico_number            386 non-null    object
 10  grading_date          386 non-null    object
 11  company               386 non-null    object
 12  owner                 386 non-null    object
 13  altitude              386 non-null    object
 14  variety               386 non-null    object
 15  region                386 non-null    object
 16  status                386 non-null    object
 17  producer              386 non-null    object
 18  processing_method     386 non-null    object
 19  aroma                 386 non-null    object
 20  uniformity            386 non-null    object
 21  flavor                386 non-null    object
 22  clean_cup             386 non-null    object
 23  aftertaste            386 non-null    object
 24  sweetness             386 non-null    object
 25  acidity               386 non-null    object
 26  overall               386 non-null    object
 27  body                  386 non-null    object
 28  defects               386 non-null    object
 29  balance               386 non-null    object
 30  total_cup_points      386 non-null    object
 31  moisture              386 non-null    object
 32  color                 386 non-null    object
 33  category_one_defects  386 non-null    object
 34  category_two_defects  386 non-null    object
 35  quakers               386 non-null    object
 36  altitude_low_meters   382 non-null    float64
 37  altitude_high_meters  382 non-null    float64
 38  altitude_mean_meters  382 non-null    float64
dtypes: float64(3), int64(1), object(35)
memory usage: 117.7+ KB
None

In [38]:
def convert_moisture(moisture):
    if pd.isna(moisture) or moisture == '' or moisture == 'n/a':
        return np.nan
    moisture = moisture.replace('%', '')
    moisture = moisture.replace(' ', '')
    return round(float(moisture) / 100.0,2)

dbf['moisture'] = dbf['moisture'].apply(convert_moisture)
print(dbf['moisture'].head())

0    0.10
1    0.09
2    0.11
3    0.11
4    0.10
Name: moisture, dtype: float64

In [39]:
columns_to_convert = [
    "number_of_bags", 'aroma', 'uniformity', 'flavor', 'clean_cup',
    'aftertaste', 'sweetness', 'acidity', 'body', 'defects',
    'balance', 'total_cup_points', 'moisture'
]

dbf[columns_to_convert] = dbf[columns_to_convert].replace(['', 'n/a', 'NA', 'null'], '0')

for col in columns_to_convert:
    dbf[col] = pd.to_numeric(dbf[col], errors='coerce')

In [40]:
print(dbf.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386 entries, 0 to 385
Data columns (total 39 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    386 non-null    int64
 1   country_of_origin     386 non-null    object
 2   number_of_bags        386 non-null    int64
 3   farm_name             386 non-null    object
 4   bag_weight            386 non-null    object
 5   lot_number            386 non-null    object
 6   in_country_partner    386 non-null    object
 7   mill                  386 non-null    object
 8   harvest_year          386 non-null    object
 9   ico_number            386 non-null    object
 10  grading_date          386 non-null    object
 11  company               386 non-null    object
 12  owner                 386 non-null    object
 13  altitude              386 non-null    object
 14  variety               386 non-null    object
 15  region                386 non-null    object
 16  status                386 non-null    object
 17  producer              386 non-null    object
 18  processing_method     386 non-null    object
 19  aroma                 386 non-null    float64
 20  uniformity            386 non-null    float64
 21  flavor                386 non-null    float64
 22  clean_cup             386 non-null    float64
 23  aftertaste            386 non-null    float64
 24  sweetness             386 non-null    float64
 25  acidity               386 non-null    float64
 26  overall               386 non-null    object
 27  body                  386 non-null    float64
 28  defects               386 non-null    float64
 29  balance               386 non-null    float64
 30  total_cup_points      386 non-null    float64
 31  moisture              385 non-null    float64
 32  color                 386 non-null    object
 33  category_one_defects  386 non-null    object
 34  category_two_defects  386 non-null    object
 35  quakers               386 non-null    object
 36  altitude_low_meters   382 non-null    float64
 37  altitude_high_meters  382 non-null    float64
 38  altitude_mean_meters  382 non-null    float64
dtypes: float64(15), int64(2), object(22)
memory usage: 117.7+ KB
None

In [41]:
#add dbf a column for arabica and fill with Arabica
dbf['species'] = 'Arabica'

In [42]:
#id should start from the last id in arabica_data_cleaned.csv + 1
last_id = df['Unnamed: 0'].max()
dbf['id'] = range(last_id + 1, last_id + 1 + len(dbf))

In [43]:
dbf['category_one_defects'] = dbf['category_one_defects'].str.replace(' full defects', '', regex=False)
dbf['category_two_defects'] = dbf['category_two_defects'].str.replace(' full defects', '', regex=False)

In [44]:
dbf[['category_one_defects', 'category_two_defects']].replace(['', 'n/a', 'NA', 'null'], '0')
dbf['category_one_defects'] = pd.to_numeric(dbf['category_one_defects'], errors='coerce')
dbf['category_two_defects'] = pd.to_numeric(dbf['category_two_defects'], errors='coerce')

In [45]:
dbf['category_one_defects'] = dbf['category_one_defects'].fillna(0)
dbf['category_two_defects'] = dbf['category_two_defects'].fillna(0)

In [46]:
dbf['category_one_defects'] = dbf['category_one_defects'].astype('int')
dbf['category_two_defects'] = dbf['category_two_defects'].astype('int')

In [47]:
dbf['unit_of_measurement'] = 'm'

In [48]:
print(dbf.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386 entries, 0 to 385
Data columns (total 41 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    386 non-null    int64
 1   country_of_origin     386 non-null    object
 2   number_of_bags        386 non-null    int64
 3   farm_name             386 non-null    object
 4   bag_weight            386 non-null    object
 5   lot_number            386 non-null    object
 6   in_country_partner    386 non-null    object
 7   mill                  386 non-null    object
 8   harvest_year          386 non-null    object
 9   ico_number            386 non-null    object
 10  grading_date          386 non-null    object
 11  company               386 non-null    object
 12  owner                 386 non-null    object
 13  altitude              386 non-null    object
 14  variety               386 non-null    object
 15  region                386 non-null    object
 16  status                386 non-null    object
 17  producer              386 non-null    object
 18  processing_method     386 non-null    object
 19  aroma                 386 non-null    float64
 20  uniformity            386 non-null    float64
 21  flavor                386 non-null    float64
 22  clean_cup             386 non-null    float64
 23  aftertaste            386 non-null    float64
 24  sweetness             386 non-null    float64
 25  acidity               386 non-null    float64
 26  overall               386 non-null    object
 27  body                  386 non-null    float64
 28  defects               386 non-null    float64
 29  balance               386 non-null    float64
 30  total_cup_points      386 non-null    float64
 31  moisture              385 non-null    float64
 32  color                 386 non-null    object
 33  category_one_defects  386 non-null    int64
 34  category_two_defects  386 non-null    int64
 35  quakers               386 non-null    object
 36  altitude_low_meters   382 non-null    float64
 37  altitude_high_meters  382 non-null    float64
 38  altitude_mean_meters  382 non-null    float64
 39  species               386 non-null    object
 40  unit_of_measurement   386 non-null    object
dtypes: float64(15), int64(4), object(22)
memory usage: 123.8+ KB
None

In [49]:
dbf = dbf.rename(columns={
    'id': 'Unnamed: 0',
    'species': 'Species',
    'country_of_origin': 'Country.of.Origin',
    'number_of_bags': 'Number.of.Bags',
    'farm_name': 'Farm.Name',
    'bag_weight': 'Bag.Weight',
    'lot_number': 'Lot.Number',
    'in_country_partner': 'In.Country.Partner',
    'mill': 'Mill',
    'harvest_year': 'Harvest.Year',
    'ico_number': 'ICO.Number',
    'grading_date': 'Grading.Date',
    'company': 'Company',
    'owner': 'Owner',
    'altitude': 'Altitude',
    'variety': 'Variety',
    'region': 'Region',
    'producer': 'Producer',
    'processing_method': 'Processing.Method',
    'aroma': 'Aroma',
    'uniformity': 'Uniformity',
    'flavor': 'Flavor',
    'clean_cup': 'Clean.Cup',
    'aftertaste': 'Aftertaste',
    'sweetness': 'Sweetness',
    'acidity': 'Acidity',
    'overall':'Cupper.Points',
    'body': 'Body',
    'defects': 'Defects',
    'balance': 'Balance',
    'total_cup_points': 'Total.Cup.Points',
    'moisture': 'Moisture',
    'color': 'Color',
    'category_one_defects': 'Category.One.Defects',
    'category_two_defects': 'Category.Two.Defects',
    'quakers': 'Quakers',
    'altitude_low_meters': 'altitude_low_meters',
    'altitude_high_meters': 'altitude_high_meters',
    'altitude_mean_meters': 'altitude_mean_meters'
})

In [50]:
dbf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386 entries, 0 to 385
Data columns (total 41 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            386 non-null    int64
 1   Country.of.Origin     386 non-null    object
 2   Number.of.Bags        386 non-null    int64
 3   Farm.Name             386 non-null    object
 4   Bag.Weight            386 non-null    object
 5   Lot.Number            386 non-null    object
 6   In.Country.Partner    386 non-null    object
 7   Mill                  386 non-null    object
 8   Harvest.Year          386 non-null    object
 9   ICO.Number            386 non-null    object
 10  Grading.Date          386 non-null    object
 11  Company               386 non-null    object
 12  Owner                 386 non-null    object
 13  Altitude              386 non-null    object
 14  Variety               386 non-null    object
 15  Region                386 non-null    object
 16  status                386 non-null    object
 17  Producer              386 non-null    object
 18  Processing.Method     386 non-null    object
 19  Aroma                 386 non-null    float64
 20  Uniformity            386 non-null    float64
 21  Flavor                386 non-null    float64
 22  Clean.Cup             386 non-null    float64
 23  Aftertaste            386 non-null    float64
 24  Sweetness             386 non-null    float64
 25  Acidity               386 non-null    float64
 26  Cupper.Points         386 non-null    object
 27  Body                  386 non-null    float64
 28  Defects               386 non-null    float64
 29  Balance               386 non-null    float64
 30  Total.Cup.Points      386 non-null    float64
 31  Moisture              385 non-null    float64
 32  Color                 386 non-null    object
 33  Category.One.Defects  386 non-null    int64
 34  Category.Two.Defects  386 non-null    int64
 35  Quakers               386 non-null    object
 36  altitude_low_meters   382 non-null    float64
 37  altitude_high_meters  382 non-null    float64
 38  altitude_mean_meters  382 non-null    float64
 39  Species               386 non-null    object
 40  unit_of_measurement   386 non-null    object
dtypes: float64(15), int64(4), object(22)
memory usage: 123.8+ KB

In [51]:
for col in df.columns:
    if col not in dbf.columns:
        dbf[col] = np.nan

dbf = dbf[df.columns]

In [52]:
final_df = pd.concat([df, dbf], ignore_index=True)

In [53]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1697 entries, 0 to 1696
Data columns (total 44 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             1697 non-null   int64
 1   Species                1697 non-null   object
 2   Owner                  1690 non-null   object
 3   Country.of.Origin      1696 non-null   object
 4   Farm.Name              1341 non-null   object
 5   Lot.Number             656 non-null    object
 6   Mill                   1387 non-null   object
 7   ICO.Number             1549 non-null   object
 8   Company                1488 non-null   object
 9   Altitude               1474 non-null   object
 10  Region                 1640 non-null   object
 11  Producer               1467 non-null   object
 12  Number.of.Bags         1697 non-null   int64
 13  Bag.Weight             1697 non-null   object
 14  In.Country.Partner     1697 non-null   object
 15  Harvest.Year           1650 non-null   object
 16  Grading.Date           1697 non-null   object
 17  Owner.1                1304 non-null   object
 18  Variety                1496 non-null   object
 19  Processing.Method      1545 non-null   object
 20  Aroma                  1697 non-null   float64
 21  Flavor                 1697 non-null   float64
 22  Aftertaste             1697 non-null   float64
 23  Acidity                1697 non-null   float64
 24  Body                   1697 non-null   float64
 25  Balance                1697 non-null   float64
 26  Uniformity             1697 non-null   float64
 27  Clean.Cup              1697 non-null   float64
 28  Sweetness              1697 non-null   float64
 29  Cupper.Points          1697 non-null   object
 30  Total.Cup.Points       1697 non-null   float64
 31  Moisture               1696 non-null   float64
 32  Category.One.Defects   1697 non-null   int64
 33  Quakers                1696 non-null   object
 34  Color                  1430 non-null   object
 35  Category.Two.Defects   1697 non-null   int64
 36  Expiration             1311 non-null   object
 37  Certification.Body     1311 non-null   object
 38  Certification.Address  1311 non-null   object
 39  Certification.Contact  1311 non-null   object
 40  unit_of_measurement    1697 non-null   object
 41  altitude_low_meters    1466 non-null   float64
 42  altitude_high_meters   1466 non-null   float64
 43  altitude_mean_meters   1466 non-null   float64
dtypes: float64(14), int64(4), object(26)
memory usage: 583.5+ KB

In [ ]:
final_df.to_csv('data/combined_data_updated.csv', index=False)