# Import Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# Data Load

In [ ]:
df = pd.read_csv('data/arabica_data_cleaned.csv')
print(df.head())

   Unnamed: 0  Species                     Owner Country.of.Origin  \
0           1  Arabica                 metad plc          Ethiopia
1           2  Arabica                 metad plc          Ethiopia
2           3  Arabica  grounds for health admin         Guatemala
3           4  Arabica       yidnekachew dabessa          Ethiopia
4           5  Arabica                 metad plc          Ethiopia

                                  Farm.Name Lot.Number       Mill ICO.Number  \
0                                 metad plc        NaN  metad plc  2014/2015
1                                 metad plc        NaN  metad plc  2014/2015
2  san marcos barrancas "san cristobal cuch        NaN        NaN        NaN
3     yidnekachew dabessa coffee plantation        NaN    wolensu        NaN
4                                 metad plc        NaN  metad plc  2014/2015

                                 Company       Altitude  ...  Color  \
0      metad agricultural developmet plc      1950-2200  ...  Green
1      metad agricultural developmet plc      1950-2200  ...  Green
2                                    NaN  1600 - 1800 m  ...    NaN
3  yidnekachew debessa coffee plantation      1800-2200  ...  Green
4      metad agricultural developmet plc      1950-2200  ...  Green

  Category.Two.Defects        Expiration                  Certification.Body  \
0                    0   April 3rd, 2016  METAD Agricultural Development plc
1                    1   April 3rd, 2016  METAD Agricultural Development plc
2                    0    May 31st, 2011        Specialty Coffee Association
3                    2  March 25th, 2016  METAD Agricultural Development plc
4                    2   April 3rd, 2016  METAD Agricultural Development plc

                      Certification.Address  \
0  309fcf77415a3661ae83e027f7e5f05dad786e44
1  309fcf77415a3661ae83e027f7e5f05dad786e44
2  36d0d00a3724338ba7937c52a378d085f2172daa
3  309fcf77415a3661ae83e027f7e5f05dad786e44
4  309fcf77415a3661ae83e027f7e5f05dad786e44

                      Certification.Contact unit_of_measurement  \
0  19fef5a731de2db57d16da10287413f5f99bc2dd                   m
1  19fef5a731de2db57d16da10287413f5f99bc2dd                   m
2  0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660                   m
3  19fef5a731de2db57d16da10287413f5f99bc2dd                   m
4  19fef5a731de2db57d16da10287413f5f99bc2dd                   m

  altitude_low_meters altitude_high_meters altitude_mean_meters
0              1950.0               2200.0               2075.0
1              1950.0               2200.0               2075.0
2              1600.0               1800.0               1700.0
3              1800.0               2200.0               2000.0
4              1950.0               2200.0               2075.0

[5 rows x 44 columns]