# Import Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# Data Load

In [ ]:
df = pd.read_csv('data/combined_data.csv')
print(df.head())

   Unnamed: 0  Species                     Owner Country.of.Origin  \
0         1.0  Arabica                 metad plc          Ethiopia
1         2.0  Arabica                 metad plc          Ethiopia
2         3.0  Arabica  grounds for health admin         Guatemala
3         4.0  Arabica       yidnekachew dabessa          Ethiopia
4         5.0  Arabica                 metad plc          Ethiopia

                                  Farm.Name Lot.Number       Mill ICO.Number  \
0                                 metad plc        NaN  metad plc  2014/2015
1                                 metad plc        NaN  metad plc  2014/2015
2  san marcos barrancas "san cristobal cuch        NaN        NaN        NaN
3     yidnekachew dabessa coffee plantation        NaN    wolensu        NaN
4                                 metad plc        NaN  metad plc  2014/2015

                                 Company       Altitude  ...  Color  \
0      metad agricultural developmet plc      1950-2200  ...  Green
1      metad agricultural developmet plc      1950-2200  ...  Green
2                                    NaN  1600 - 1800 m  ...    NaN
3  yidnekachew debessa coffee plantation      1800-2200  ...  Green
4      metad agricultural developmet plc      1950-2200  ...  Green

  Category.Two.Defects        Expiration                  Certification.Body  \
0                    0   April 3rd, 2016  METAD Agricultural Development plc
1                    1   April 3rd, 2016  METAD Agricultural Development plc
2                    0    May 31st, 2011        Specialty Coffee Association
3                    2  March 25th, 2016  METAD Agricultural Development plc
4                    2   April 3rd, 2016  METAD Agricultural Development plc

                      Certification.Address  \
0  309fcf77415a3661ae83e027f7e5f05dad786e44
1  309fcf77415a3661ae83e027f7e5f05dad786e44
2  36d0d00a3724338ba7937c52a378d085f2172daa
3  309fcf77415a3661ae83e027f7e5f05dad786e44
4  309fcf77415a3661ae83e027f7e5f05dad786e44

                      Certification.Contact unit_of_measurement  \
0  19fef5a731de2db57d16da10287413f5f99bc2dd                   m
1  19fef5a731de2db57d16da10287413f5f99bc2dd                   m
2  0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660                   m
3  19fef5a731de2db57d16da10287413f5f99bc2dd                   m
4  19fef5a731de2db57d16da10287413f5f99bc2dd                   m

  altitude_low_meters altitude_high_meters altitude_mean_meters
0              1950.0               2200.0               2075.0
1              1950.0               2200.0               2075.0
2              1600.0               1800.0               1700.0
3              1800.0               2200.0               2000.0
4              1950.0               2200.0               2075.0

[5 rows x 44 columns]

# Data Preprocessing

In [25]:
# drop duplocates and reset index
df = df.drop_duplicates().reset_index(drop=True)
df.head()

,Unnamed: 0,Species,Owner,Country.of.Origin,Farm.Name,Lot.Number,Mill,ICO.Number,Company,Altitude,...,Color,Category.Two.Defects,Expiration,Certification.Body,Certification.Address,Certification.Contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,1.0,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,0,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
1,2.0,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,1,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
2,3.0,Arabica,grounds for health admin,Guatemala,"san marcos barrancas ""san cristobal cuch",NaN,NaN,NaN,NaN,1600 - 1800 m,...,NaN,0,"May 31st, 2011",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,1600.0,1800.0,1700.0
3,4.0,Arabica,yidnekachew dabessa,Ethiopia,yidnekachew dabessa coffee plantation,NaN,wolensu,NaN,yidnekachew debessa coffee plantation,1800-2200,...,Green,2,"March 25th, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1800.0,2200.0,2000.0
4,5.0,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,2,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0

In [26]:
data = df.copy() # backup

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1697 entries, 0 to 1696
Data columns (total 44 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             1311 non-null   float64
 1   Species                1311 non-null   object
 2   Owner                  1688 non-null   object
 3   Country.of.Origin      1694 non-null   object
 4   Farm.Name              1338 non-null   object
 5   Lot.Number             654 non-null    object
 6   Mill                   1382 non-null   object
 7   ICO.Number             1221 non-null   object
 8   Company                1482 non-null   object
 9   Altitude               1470 non-null   object
 10  Region                 1637 non-null   object
 11  Producer               1465 non-null   object
 12  Number.of.Bags         1695 non-null   float64
 13  Bag.Weight             1695 non-null   object
 14  In.Country.Partner     1695 non-null   object
 15  Harvest.Year           1648 non-null   object
 16  Grading.Date           1695 non-null   object
 17  Owner.1                1304 non-null   object
 18  Variety                1491 non-null   object
 19  Processing.Method      1543 non-null   object
 20  Aroma                  1695 non-null   float64
 21  Flavor                 1695 non-null   float64
 22  Aftertaste             1695 non-null   float64
 23  Acidity                1695 non-null   float64
 24  Body                   1696 non-null   float64
 25  Balance                1696 non-null   float64
 26  Uniformity             1695 non-null   float64
 27  Clean.Cup              1695 non-null   float64
 28  Sweetness              1695 non-null   float64
 29  Cupper.Points          1311 non-null   float64
 30  Total.Cup.Points       1696 non-null   float64
 31  Moisture               1311 non-null   float64
 32  Category.One.Defects   1697 non-null   int64
 33  Quakers                1695 non-null   float64
 34  Color                  1363 non-null   object
 35  Category.Two.Defects   1697 non-null   int64
 36  Expiration             1311 non-null   object
 37  Certification.Body     1311 non-null   object
 38  Certification.Address  1311 non-null   object
 39  Certification.Contact  1311 non-null   object
 40  unit_of_measurement    1311 non-null   object
 41  altitude_low_meters    1466 non-null   float64
 42  altitude_high_meters   1466 non-null   float64
 43  altitude_mean_meters   1466 non-null   float64
dtypes: float64(18), int64(2), object(24)
memory usage: 583.5+ KB

In [28]:
df.isna().sum().sort_values(ascending=False)

Lot.Number               1043
ICO.Number                476
Owner.1                   393
Species                   386
Cupper.Points             386
Moisture                  386
Expiration                386
Certification.Body        386
Certification.Address     386
Unnamed: 0                386
unit_of_measurement       386
Certification.Contact     386
Farm.Name                 359
Color                     334
Mill                      315
Producer                  232
altitude_low_meters       231
altitude_high_meters      231
altitude_mean_meters      231
Altitude                  227
Company                   215
Variety                   206
Processing.Method         154
Region                     60
Harvest.Year               49
Owner                       9
Country.of.Origin           3
In.Country.Partner          2
Uniformity                  2
Flavor                      2
Acidity                     2
Number.of.Bags              2
Bag.Weight                  2
Aftertaste                  2
Quakers                     2
Aroma                       2
Grading.Date                2
Sweetness                   2
Clean.Cup                   2
Body                        1
Total.Cup.Points            1
Balance                     1
Category.Two.Defects        0
Category.One.Defects        0
dtype: int64

In [29]:
df.drop(columns=['Unnamed: 0'], inplace=True)

In [30]:
df.drop(columns=['Lot.Number'], inplace=True)

In [ ]:
df['Species'].describe()
df.drop(columns=['Species'], inplace=True) #species is not useful for our analysis and all are arobica

In [33]:
df.drop(columns=['Owner.1', 'Altitude'], inplace=True)

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1697 entries, 0 to 1696
Data columns (total 39 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Owner                  1688 non-null   object
 1   Country.of.Origin      1694 non-null   object
 2   Farm.Name              1338 non-null   object
 3   Mill                   1382 non-null   object
 4   ICO.Number             1221 non-null   object
 5   Company                1482 non-null   object
 6   Region                 1637 non-null   object
 7   Producer               1465 non-null   object
 8   Number.of.Bags         1695 non-null   float64
 9   Bag.Weight             1695 non-null   object
 10  In.Country.Partner     1695 non-null   object
 11  Harvest.Year           1648 non-null   object
 12  Grading.Date           1695 non-null   object
 13  Variety                1491 non-null   object
 14  Processing.Method      1543 non-null   object
 15  Aroma                  1695 non-null   float64
 16  Flavor                 1695 non-null   float64
 17  Aftertaste             1695 non-null   float64
 18  Acidity                1695 non-null   float64
 19  Body                   1696 non-null   float64
 20  Balance                1696 non-null   float64
 21  Uniformity             1695 non-null   float64
 22  Clean.Cup              1695 non-null   float64
 23  Sweetness              1695 non-null   float64
 24  Cupper.Points          1311 non-null   float64
 25  Total.Cup.Points       1696 non-null   float64
 26  Moisture               1311 non-null   float64
 27  Category.One.Defects   1697 non-null   int64
 28  Quakers                1695 non-null   float64
 29  Color                  1363 non-null   object
 30  Category.Two.Defects   1697 non-null   int64
 31  Expiration             1311 non-null   object
 32  Certification.Body     1311 non-null   object
 33  Certification.Address  1311 non-null   object
 34  Certification.Contact  1311 non-null   object
 35  unit_of_measurement    1311 non-null   object
 36  altitude_low_meters    1466 non-null   float64
 37  altitude_high_meters   1466 non-null   float64
 38  altitude_mean_meters   1466 non-null   float64
dtypes: float64(17), int64(2), object(20)
memory usage: 517.2+ KB

In [35]:
df.drop(columns=['ICO.Number'], inplace=True)

In [36]:
df.replace("", np.nan, inplace=True)

In [40]:
df.isna().sum().sort_values(ascending=False)

unit_of_measurement      386
Cupper.Points            386
Expiration               386
Certification.Body       386
Certification.Address    386
Certification.Contact    386
Moisture                 386
Farm.Name                359
Color                    334
Mill                     315
Producer                 232
altitude_high_meters     231
altitude_low_meters      231
altitude_mean_meters     231
Company                  215
Variety                  206
Processing.Method        154
Region                    60
Harvest.Year              49
Owner                      9
Country.of.Origin          3
Uniformity                 2
Grading.Date               2
Sweetness                  2
Number.of.Bags             2
Bag.Weight                 2
In.Country.Partner         2
Quakers                    2
Acidity                    2
Clean.Cup                  2
Aftertaste                 2
Flavor                     2
Aroma                      2
Balance                    1
Body                       1
Total.Cup.Points           1
Category.One.Defects       0
Category.Two.Defects       0
dtype: int64

In [41]:
df['Certification.Body'].value_counts()

Certification.Body
Specialty Coffee Association                                                             295
AMECAFE                                                                                  205
Almacafé                                                                                 178
Asociacion Nacional Del Café                                                             155
Brazil Specialty Coffee Association                                                       67
Instituto Hondureño del Café                                                              60
Blossom Valley International                                                              58
Africa Fine Coffee Association                                                            49
Specialty Coffee Association of Costa Rica                                                43
NUCOFFEE                                                                                  36
Uganda Coffee Development Authority                                                       22
Kenya Coffee Traders Association                                                          22
Ethiopia Commodity Exchange                                                               18
Specialty Coffee Institute of Asia                                                        16
METAD Agricultural Development plc                                                        15
Yunnan Coffee Exchange                                                                    12
Salvadoran Coffee Council                                                                 11
Specialty Coffee Association of Indonesia                                                 10
Centro Agroecológico del Café A.C.                                                         8
Asociación de Cafés Especiales de Nicaragua                                                8
Coffee Quality Institute                                                                   7
Asociación Mexicana De Cafés y Cafeterías De Especialidad A.C.                             6
Tanzanian Coffee Board                                                                     6
Torch Coffee Lab Yunnan                                                                    2
Central De Organizaciones Productoras De Café y Cacao Del Perú - Central Café & Cacao      1
Blossom Valley International\n                                                             1
Name: count, dtype: int64

In [42]:
df['Certification.Address'].value_counts()

Certification.Address
36d0d00a3724338ba7937c52a378d085f2172daa    293
59e396ad6e22a1c22b248f958e1da2bd8af85272    204
e493c36c2d076bf273064f7ac23ad562af257a25    178
b1f20fe3a819fd6b2ee0eb8fdc3da256604f1e53    155
3297cfa4c538e3dd03f72cc4082c54f7999e1f9d     67
b4660a57e9f8cc613ae5b8f02bfce8634c763ab4     60
fc45352eee499d8470cf94c9827922fb745bf815     58
073285c0d45e2f5539012d969937e529564fa6fe     48
8e0b118f3cf3121ab27c5387deacdb7d4d2a60b1     42
567f200bcc17a90070cb952647bf88141ad9c80c     36
ccba45b89d859740b749878be8c6d16fbdb96c2e     22
188fe373b511e21f614564bf86aa4774270d8e04     22
a176532400aebdc345cf3d870f84ed3ecab6249e     18
726e4891cf2c9a4848768bd34b668124d12c4224     16
309fcf77415a3661ae83e027f7e5f05dad786e44     15
683fa6014608fc10ff681b0435b0b2dbe6df988f     12
3d4987e3b91399dbb3938b5bdf53893b6ef45be1     11
99fa73db21b7acd9c9ceb9dd84e409d2077d55c4     10
fc561dd3c2eee024b032933e0a97b4aede0dc206      8
3b8dfdd621590b424ff64e0b76df7d6a92e1c628      8
1d4c7f93129f9fb1c8a5f0ce0e36cc1cf4c2f4d7      7
3441698871fa609a44ce947e8944ee42eb4428b9      6
047484d5700c44f033915e632e0c6013d985cd79      6
280c299bf8f7e7bd526e0fc5e1d209b361120d7f      2
d3ed2a8c1db69c87daef88f425dd0e8ef3216a39      2
d35c195333cbf1d7c6a0eba5e11d1765030cca85      1
78a435a6973d56b40414c7ae75a8b43e443e6e27      1
528ec9cf40c1bab91ce8fae8e80c50f46627d2c6      1
09e3c859cac41901d54f4bd36cce80d19c9272f5      1
3e18a5ae6f5e2aabca37e025f94e1974558bf5f0      1
Name: count, dtype: int64

In [44]:
df['Certification.Contact'].value_counts()

Certification.Contact
0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660    295
0eb4ee5b3f47b20b049548a2fd1e7d4a2b70d0a7    204
70d3c0c26f89e00fdae6fb39ff54f0d2eb1c38ab    178
724f04ad10ed31dbb9d260f0dfd221ba48be8a95    155
8900f0bf1d0b2bafe6807a73562c7677d57eb980     67
7f521ca403540f81ec99daec7da19c2788393880     60
de73fc9412358b523d3a641501e542f31d2668b0     58
c4ab13415cdd69376a93780c0166e7b1a10481ea     49
5eb2b7129d9714c43825e44dc3bca9423de209e9     43
aa2ff513ffb9c844462a1fb07c599bce7f3bb53d     36
b7614767a5343729bbde3a2777c60ce836aed928     22
d752c909a015f3c76224b3c5cc520f8a67afda74     22
61bbaf6a9f341e5782b8e7bd3ebf76aac89fe24b     18
b70da261fcc84831e3e9620c30a8701540abc200     16
19fef5a731de2db57d16da10287413f5f99bc2dd     15
f6d87a6c04653c569d4911a66f89d5e30ce83b93     12
27b21e368fb8291cbea02c60623fe6c98f84524d     11
36910838db193ebdd61fa1427bac74622114c49a     10
d470dc009281519e30da6ead1c649fcd7670f386      8
f79a8d4dee92a80ff14025f03ea34fa316b2132f      8
0f62c9236e3ff5c4921da1e22a350aa99482779d      7
9894541e8065ee718165a1d432389d114defc38c      6
127e651fc8b7c35802268599656f2c76bf041b15      6
2ce3fe88323f4b924d3a0a84f6d5ae006a091256      2
6bda121782b86a56c1f4df8268e62da3aa2d21e0      1
94828eb00127a1563ed640ea428f42f3313b182d      1
e3212d17882b7657b3fba559b4072e552604d5d1      1
Name: count, dtype: int64

In [45]:
df.drop(columns=['Certification.Contact', 'Certification.Address', 'Certification.Body'], inplace=True)

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1697 entries, 0 to 1696
Data columns (total 35 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Owner                 1688 non-null   object
 1   Country.of.Origin     1694 non-null   object
 2   Farm.Name             1338 non-null   object
 3   Mill                  1382 non-null   object
 4   Company               1482 non-null   object
 5   Region                1637 non-null   object
 6   Producer              1465 non-null   object
 7   Number.of.Bags        1695 non-null   float64
 8   Bag.Weight            1695 non-null   object
 9   In.Country.Partner    1695 non-null   object
 10  Harvest.Year          1648 non-null   object
 11  Grading.Date          1695 non-null   object
 12  Variety               1491 non-null   object
 13  Processing.Method     1543 non-null   object
 14  Aroma                 1695 non-null   float64
 15  Flavor                1695 non-null   float64
 16  Aftertaste            1695 non-null   float64
 17  Acidity               1695 non-null   float64
 18  Body                  1696 non-null   float64
 19  Balance               1696 non-null   float64
 20  Uniformity            1695 non-null   float64
 21  Clean.Cup             1695 non-null   float64
 22  Sweetness             1695 non-null   float64
 23  Cupper.Points         1311 non-null   float64
 24  Total.Cup.Points      1696 non-null   float64
 25  Moisture              1311 non-null   float64
 26  Category.One.Defects  1697 non-null   int64
 27  Quakers               1695 non-null   float64
 28  Color                 1363 non-null   object
 29  Category.Two.Defects  1697 non-null   int64
 30  Expiration            1311 non-null   object
 31  unit_of_measurement   1311 non-null   object
 32  altitude_low_meters   1466 non-null   float64
 33  altitude_high_meters  1466 non-null   float64
 34  altitude_mean_meters  1466 non-null   float64
dtypes: float64(17), int64(2), object(16)
memory usage: 464.1+ KB

In [48]:
df['unit_of_measurement'].value_counts() #since we have altitude_... in meters we can safely drop this column
df.drop(columns=['unit_of_measurement'], inplace=True)

In [49]:
df.drop(columns=['Expiration'], inplace=True)

In [50]:
df.isna().sum().sort_values(ascending=False)

Cupper.Points           386
Moisture                386
Farm.Name               359
Color                   334
Mill                    315
Producer                232
altitude_mean_meters    231
altitude_high_meters    231
altitude_low_meters     231
Company                 215
Variety                 206
Processing.Method       154
Region                   60
Harvest.Year             49
Owner                     9
Country.of.Origin         3
Flavor                    2
Aroma                     2
Number.of.Bags            2
Bag.Weight                2
In.Country.Partner        2
Quakers                   2
Grading.Date              2
Aftertaste                2
Sweetness                 2
Clean.Cup                 2
Uniformity                2
Acidity                   2
Balance                   1
Body                      1
Total.Cup.Points          1
Category.One.Defects      0
Category.Two.Defects      0
dtype: int64